/** initial setup **/
body {
      touch-action: none;
      overflow:hidden;
}
.nano {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.nano>.nano-content {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.dropup {
    position: relative;
    display: inline-block;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropup-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    bottom:50px;
    z-index: 1;
}

.dropup-content a {
    color: black;
    padding: 10px 14px;
    display: block;
}

.dropup-content a:hover {background-color: #ccc}

.dropup:hover .dropup-content {
    display: block;
}

.dropup:hover .dropbtn {
    background-color: #3e8e41;
}

/* 
.nano>.nano-content:focus {
  outline: thin dotted;
}

.nano>.nano-content::-webkit-scrollbar {
  display: none;
}

.has-scrollbar>.nano-content::-webkit-scrollbar {
  display: block;
} */
/* 
.nano>.nano-pane {
  background: rgba(0, 0, 0, .25);
  position: absolute;
  width: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden;
  /* Target only IE7 and IE8 with this hack *
  opacity: .01;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
} */



/* .nano:hover>.nano-pane, .nano-pane.active, .nano-pane.flashed {
  visibility: visible;
  /* Target only IE7 and IE8 with this hack *
  opacity: 0.99;
} */

/* .chat .messages .list .from-them:after, .chat .messages .list .from-them:before {
  content: "";
  height: 20px;
  bottom: -2px;
  position: absolute
} */



.chat {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 6;
  overflow: hidden
}

.chat .layer-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0
}

/* .chat:hover {
  background: #86c6e6;
  border-left: 4px solid #29b6f6
} */


.chat .layer-content, .chat .layer-overlay {
  position: absolute; width: 100%; height: 100%; background: none; z-index: 0; transform: scale(1);
  background: #f2f2f2
}

.chat .contacts, .chat .messages {
  transition: left .3s ease-in-out
}

.chat.open-messages .contacts {
  left: -100%
}

.chat.open-messages .messages {
  left: 0
}

.chat .topbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
}

.chat .topbar>.sp-cancel, .chat .topbar>a {
  font-size: 1.3rem;
  line-height: 65px;
  height: 65px;
  padding: 0 10px;
  color: #fff;
  display: inline-block
}

.chat .topbar>.sp-cancel>i, .chat .topbar>a>i {
  vertical-align: middle;
  font-size: 2rem
}

.chat .topbar>.text.sp-cancel, .chat .topbar>a.text {
  padding-left: 20px
}

.chat .topbar .chat-name {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  font-size: 2rem;
  line-height: 59px
}

.chat .contacts {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%
}

.chat .contacts>.nano {
  margin-top: 65px
}

.chat .contacts .label {
  font-size: .9em;
  display: block;
  text-transform: uppercase;
  text-align: center;
  color: #767CA0;
  height: 40px;
  line-height: 40px
}

.chat .contacts .user {
  position: relative;
  color: #fff;
  padding: 10px 1rem;
  cursor: pointer
}

.chat .contacts .user:hover {
  background-color: #2d2f40
}

.chat .contacts .user .photo {
  width: 40px;
  vertical-align: middle;
  margin-right: 1rem;
  float: left
}

.chat .contacts .user .name {
  font-weight: 700;
  display: inline-block
}

.chat .contacts .user .status {
  font-size: .9em;
  color: #D8D8D8
}

.chat .contacts .user .online {
  position: absolute;
  font-size: .5rem;
  top: 50%;
  margin-top: -6px;
  right: 1rem
}

.chat .messages {
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
  width: 100%
}

.chat .messages .list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 65px;
  margin-top: 65px
}

.chat .messages .list .nano-content {
  padding: 2rem 2rem 2rem 56px;
  padding-left: calc(30px + 2rem);
  background:#f2f2f2;
}

.chat .messages .list .nano-content .date {
  font-size: .8rem;
  padding: 1rem 0;
  margin-left: -30px;
  color: rgba(0, 0, 0, .40);
  text-align: center;
  clear: both
}

.chat .messages .list .nano-content .date:first-child {
  padding-top: 0
}

.chat .messages .list .from-me, .chat .messages .list .from-them {
  position: relative;
  padding: 10px 20px;
  border-radius: 5px;
  word-wrap: break-word;
  max-width: 100%
}

.chat .messages .list .from-them, .chat .messages .list .from-me {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  /* box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28); */
}

.chat .messages .list .from-them {
  color: #000;
  background: #FFF;
  float: left;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%
}

.chat .messages .list .from-them .date {
  font-size: .8rem;
  margin-top: .5rem;
  margin-bottom: 0;
  text-align: left
}

.chat .messages .list .from-them .photo {
  position: absolute;
  top: 0;
  left: -35px;
  max-width: 30px;
  z-index: 4
}

.chat .messages .list .from-me {
  color: #fff;
  background: #42A5F5;
  float: right;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%
}

.chat .messages .list .from-me .date {
  font-size: .8rem;
  margin-top: .5rem;
  margin-bottom: 0;
  color: rgba(0, 0, 0, .40);
  text-align: right
}

.chat .messages .list .clear {
  clear: both;
  height: 1rem
}

.chat .messages .send {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 65px;
  padding: 0 8px;
  z-index: 4;
  background: #2d2f40
}

.chat .messages .send .input-field {
  position: absolute;
  left:280px;
  right:40px;
  margin-top: 8px;
  margin-right: 65px
}

.chat .messages .send .input-field textarea {
  color: #fff;
  margin: 0;
  height: 2.7rem;
  padding: 0 7px;
  max-height: 3.5rem;
  resize: none;
}


.chat .messages .send .feature1 {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 4;
  background:rgba(0, 0, 0, .25)
}
.chat .messages .send .feature2 {
  position: absolute;
  top: 8px;
  left: 132px;
  padding: 0 1rem;
  background:rgba(0, 0, 0, .25)
}
/* .chat .messages .send .feature3 {
  position: absolute;
  top: 8px;
  left: 101px;
  padding: 0 1rem;
  background:rgba(0, 0, 0, .25)
}
.chat .messages .send .feature4 {
  position: absolute;
  top: 8px;
  left: 150px;
  padding: 0 1rem;
  background:rgba(0, 0, 0, .25)
} */

.chat .messages .send .smily {
  position: absolute;
  top: 8px;
  right: 56px;
  border-radius:2rem;
  z-index: 4;
  background:rgba(0, 0, 0, .25)
}

.chat .messages .send .sendy {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0 1rem;
  z-index: 4;
  background:rgba(0, 0, 0, .25)
}


.loader {
  background: #0059bc;
  z-index: 20;
  animation-name: opening;
  animation-duration: 200ms;
}

.unloader {
  background: #0059bc; 
  z-index:20;
  animation-name: closing;
  animation-duration: 200ms;
}
@keyframes opening {
  0%   {transform:scale(0);} /* border-radius:50 */
  /* 99%   { border-radius:50%;} */
  100% {transform:scale(1);}   /* border-radius:0; */
}

@keyframes closing {
  0%   {transform:scale(1);opacity: 1;} /* border-radius:0;  */
  /* 1%   {border-radius:50%;} */
  100% {transform:scale(0); opacity: 0.1;} /* border-radius:50%; */
}


.search_active:focus {
  border-bottom:1px solid blue!important; -webkit-box-shadow: 0 1px 0 0 blue!important; box-shadow: 0 1px 0 0 blue!important;
}

.back_button {
  cursor:pointer;
}

.meniu {
  height:100%;
  text-align:center;
  border: 2px solid white;
}

.meniu:focus, .meniu:hover {
  border:4px solid white;
  background:rgba(0,0,0,0.2);
}

.glass{ background: inherit; }
.glass:before{ content: ‘’; background: inherit; box-shadow: inset 0 0 0 200px rgba(255,255,255,0.3); filter: blur(10px); }

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: grey!important;
  opacity: 1; /* Firefox */
}

